@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

body {
   
	color: #212529;									
	cursor: default;								
	width: 100%;					
	font-family: 'Raleway', sans-serif;				
}

a {
	text-decoration: none;
    color: #212529;
}
 
  /*******************
     BARRE DE NAVIGATION
   *******************/

header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.header {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.navbar{
    margin-left: auto;
	line-height: 95px;
}
  
.navbar_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_item {
    border-top: 3px solid transparent;
	padding: 0px 15px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_item.active, .nav_item:hover {
    border-top: 3px solid #0065FC;
}

.nav_link {
    color: #6c757d ;
	font-size: 15px;
}

.nav_link.activ,.nav_link:hover {
     color: #0065FC;
}
  
#auth_container {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
#auth_container a {
    color:#0065FC;
    font-weight: bold;
}

/*******************
    Filtres
*******************/

main {
    margin: auto;
    padding: 100px 15px;
    max-width: 1440px;
}


h1 {
    margin-bottom: 15px;
}

.search_filter p {
    font-weight: bold;
    font-size: 16px;
    color: #6c757d;
}

.localisation{
    border-radius: 10px;
    margin-top: 35px;
    display: flex;  
    flex-wrap: wrap;
}

.icon_map {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
}

.search_lodging {
    height: 50px;
    padding: 0 20px;
    border: none;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    border-radius:0px 10px 10px 0px;
}

.btn a {
    padding: 0px 15px;
    color: white;
}

.btn i {
    display: none;
}

.data_filter {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;  
}

.filter_title {
    margin-right: 25px;
    display: flex;
    align-items: center;
    margin-top: 15px;  
}

.filter_text_icon {
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: 2px solid #e5e2e2;
    border-radius: 25px;
}

.filter_text_icon:hover {
    transform: scale(1.03);
    box-shadow: 4px 4px 16px #0000002e;
}
 
.filter_icon {
    padding: 15px;
    background-color:  #DEEBFF;
    border-radius: 50px;
}

.filter_text {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.info {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

.info_icon {
    margin-right: 15px;
}

.info p {
    padding-top : 5px;
}

.fa-info {
    font-size: 15px;
    padding: 5px 10px;
    color: #0065FC;
    border-radius: 50px;
    border: 2px solid #e5e2e2;
}



/*******************
    hebergement
*******************/


#lodging {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card_title_lodging, .card_title_popular {
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}
.card_text_lodging, .card_text_popular {
    padding: 5px;
    font-size: 15px;
}
.star {
    padding: 5px;
}
.star_blue {
    color: #0065FC;
}

.star_grey {  
    color: #e5e2e2; 
}

.price {
    font-weight: bold;
}

.fa-chart-line {
    font-size: 25px;
}

.size_lodging {
    flex: 2;
    margin-right: 15px;
    background-color: #F2F2F2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 15px;
}

.container_lodging {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0;
}

.cards_lodging {
    width: 32%;
    padding: 15px 0;
    border-radius: 20px;
}

.card_info_lodging {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_lodging_item {
    background-color: white;
    height: auto;
    border-radius: 20px;
    border: 4px solid transparent;
    box-shadow: 4px 4px 16px #0000002e;
}

.card_lodging_item:hover {
    transform: scale(1.03);
    box-shadow: 4px 4px 16px #0000007e;

}

.image_lodging1, .image_lodging2, .image_lodging3,.image_lodging4,
.image_lodging5, .image_lodging6 {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 170px;
    border-radius: 20px 20px 0 0;
}

.image_lodging1 {
    background-image: url('../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
}

.image_lodging2 {
    background-image: url('../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
}

.image_lodging3 {
    background-image: url('../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
}

.image_lodging4 {
    background-image: url('../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
}

.image_lodging5 {
    background-image: url('../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
}

.image_lodging6 {
    background-image: url('../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
}

.size-popular {
    flex: 1;
    margin-left: 15px;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 25px 15px;
}

.title_popular {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.container_popular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;
}


.cards_popular {
    padding: 15px 0;
}

.card_popular_item {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: auto;
    padding: 2px 2px;
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 4px 4px 16px #0000002e;
}

.card_popular_item:hover {
    transform: scale(1.03);
    box-shadow: 4px 4px 16px #0000007e;

}
.card_info_popular {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
}

.image_popular_1, .image_popular_2, .image_popular_3 {
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 180px;
    border-radius: 20px 0 0 20px;
}

.image_popular_1{
    background-image: url('../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');

}    

.image_popular_2 {
    background-image: url('../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');

}    

.image_popular_3 {
    background-image: url('../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');

}    


/*******************
    Activités
*******************/

#activity {
    margin-top: 70px;
}

.activity {
    display: flex;
    justify-content: space-between;
}

.container_activity_1, .container_activity_2{
    margin-top: 25px;
    width: 49%;
    display: flex;
    justify-content: space-between;
}

.bloc_cards_activity {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards_activity_1:hover , .cards_activity_2:hover {
    transform: scale(1.03);
    cursor: pointer;
    box-shadow: 4px 4px 16px #0000007e;
} 

.cards_activity_1 {
    width: 48%;
    border-radius: 20px;
    box-shadow: 4px 4px 16px #0000002e;
}

.cards_activity_2 {
    width: 100%;
    border-radius: 20px;
    box-shadow: 4px 4px 16px #0000002e;
}
 
.card_activity_info {
    height: 60px;
    display: flex;
    align-items: center;
}
.card_title_activity {
    padding-left: 15px;
}

.image_activity_1, .image_activity_2 {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0 ;
}

.image_activity_1 {
    background-image: url('../images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
} 

.image_activity_2 {
    background-image: url('../images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
} 

.image_activity_3, .image_activity_4 {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
}

.image_activity_3 {
    background-image: url('../images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg');    
}  
.image_activity_4 {
    background-image: url('../images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg');
}      

.image_activity_5, .image_activity_6 {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.image_activity_5 {
    background-image: url('../images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
} 

.image_activity_6 {
    background-image: url('../images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
}  


/*******************
   Footer
**********************/
footer {
    background-color: #F2F2F2;
}

.footerbloc {
    height: 250px;
    margin-top: 100px;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.propos, .hebergement, .assistance{
    width: 30%;
    height: 150px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

.footerbloc p {
    padding-top: 15px;
}



  